html,
body,
section,
div#content,
article {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body,
section,
article {
  display: flex;
  flex-flow: column;
}

div#content {
  display: block;
}

aside {
  float: left;
  height: calc(100% - 1px);
  margin-top: 1px;
  border: 1px solid #dbdbdb;
  border-left: none;
  border-bottom: none;
  border-radius: 0 4px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
}

div.box {
  position: relative;
  width: 25vw;
  min-width: 15rem;
  max-width: 30rem;
  opacity: 1;
}

div.box button.delete {
  position: absolute;
  top: 25px;
  right: 20px;
}

div.control.input-div,
div.select,
div.select select {
  width: 100%;
}

div.field summary {
  margin-bottom: .75rem;
}

div#docs-containers {
  height: 100%;
}

div.file {
  position: relative;
  height: 100%;
}

div.blocker {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

div.blocker div {
  width: 75%;
  margin: auto;
}

div.field summary {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

div#docs-tabs li {
  margin-top: 2px;
}

div#docs-tabs li:first-child {
  margin-left: 2px;
}

div#docs-tabs button.delete {
  margin-left: 1rem;
}

details.doc-details {
  margin-top: 1rem;
}

span.doc-name {
  max-width: 10rem;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}

td p+p {
  margin-top: .5rem;
}

a.is-disabled {
  pointer-events: none;
  color: hsl(0, 0%, 71%);
}

.no-display {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
}

.blink {
  animation: blinker .5s linear 2;
}

.pointer {
  cursor: pointer;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.query.tooltip {
  border-bottom: none;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: .5rem;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  margin-left: -50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
